:root {
  // Why the hell are these not working with media queries?
  --mobile: 480px;
  --tablet-portrait: 768px;
  --tablet-landscape: 1024px;
  --desktop: 1200px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(241, 245, 241);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  color: black;
}
