main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .listing-form {
    .listing-inputs {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      #name, #address, #description {
        padding: 0.4rem 0.3rem;
        font-size: 0.7rem;
        border: 1px solid transparent;
      }
    }
  }
}